<section id="portfolio" class="portfolio pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="section-title text-center">
          <h2>Let's See My Work</h2>
          <h3><span>My</span> Portfolio</h3>
        </div>
        <div class="filter-group">
          <ul id="control" class="list-control">
            <li [ngClass]="{active: filterBy === 'all'}" (click)="changeFilter('all')">All</li>
            <li [ngClass]="{active: filterBy === 'web'}" (click)="changeFilter('web')">Web Development</li>
            <li [ngClass]="{active: filterBy === 'chatbot'}" (click)="changeFilter('chatbot')">Chatbot Development</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let image of (filteredProjects | imageFilter:filterBy); let index=index">
        <div class="col-md-6 col-lg-4 filtr-item">
          <div class="my-work">
            <div class="image">
              <img class="img-fluid" [src]="image.image" alt="my-work">
            </div>
            <a class="overlay">
              <span class="icon-img" (click)="setProject(image.project)"><i class="fas fa-image"></i></span>
              <div class="info-img">
                <span class="info-title" (click)="setProject(image.project)">{{image.title}}</span>
                <a href="javascript:;" (click)="setProject(image.project)">
                  <h5>• Gallery</h5>
                </a>
                <div *ngIf="image.public; else privateMessage">
                  <a [href]="image.link" target="_blank" rel="noopener noreferrer">
                    <h5>• Live Version</h5>
                  </a>
                </div>
                <ng-template #privateMessage>
                  <h5>• Private Project</h5>
                </ng-template>
              </div>
              <span class="badge rounded-pill bg-warning text-dark" *ngFor="let tag of image.tags">{{tag}}</span>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="section-title text-center">
          <button class="btn-one text-dark" (click)="nextResults()" *ngIf="showButton">Load More</button>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-image-fullscreen-view
  *ngIf="showFlag"
  [images]="projects[currentProject].images"
  [show]="showFlag"
  [paginationShow]="true"
  (close)="closeEventHandler()"
>
</ng-image-fullscreen-view>