<footer class="footer">
  <div class="container">
    <ul class="social-media text-center">
      <li><a href="https://www.facebook.com/cristian.turcios2" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://twitter.com/Cris_Turcios" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/cris_turcios" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://github.com/CristianTurcios" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="https://www.behance.net/cristian-turcios" target="_blank"><i class="fab fa-behance"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UC9JGX6n9BSgH9oHhZ4h-bqw" target="_blank"><i class="fab fa-youtube"></i></a></li>
    </ul>
    <!-- Copyright By Me NourEgy  -->
    <div class="copyright text-center">
      &copy; 2021 Cristian Turcios All Rights Reserved
    </div>
  </div>
</footer>