<section id="about" class="about ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about-img">
          <div class="box-img">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/images%2Fabout-min.jpg?alt=media&token=1fc0df99-f8dc-41c1-a04e-3041417aaf60"
              alt="About-me">
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="info-about">
          <!-- Title Of Section Left -->
          <div class="section-title-left">
            <h2>Cristian Turcios</h2>
            <h3>I'm a Full Stack Web Developer, <br> Product Owner and Freelance</h3>
          </div>
          <p class="mb-10" style="text-align: justify;">I am a Software developer with a solid experience developing
            different Software solutions for different clients in different countries. I have had the opportunity to work
            in products focused on the education sector, artificial intelligence products such as chatbots,
            proctoring and business analysis tools.</p>

          <p class="mb-30" style="text-align: justify;">I have worked with different technologies and providers
            throughout my career professional and every day I am constantly learning to continue delivering quality products to my clients
            and continue transforming your dreams come true.</p>

          <div class="profile">
            <div class="row">
              <div class="col-md-7">
                <p>Name: <span>Cristian J. Turcios</span></p>
              </div>
              <div class="col-md-5">
                <p>Phone: <span><a href="tel:+50497335408">+504 97335408</a></span></p>
              </div>
              <div class="col-md-7">
                <p>Email: <span><a href="mailto:cturcioscolindres01@gmail.com">cturcioscolindres01@gmail.com</a></span>
                </p>
              </div>
              <div class="col-md-5">
                <p>Freelance: <span>Available</span></p>
              </div>
            </div>
            <span class="icon-bg"><i class="fa fa-address-book"></i></span>
          </div>

          <div class="follow-me">
            <p>Follow Me : </p>
            <ul class="social-media-about">
              <li><a href="https://www.linkedin.com/in/cristian-turcios" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="https://github.com/CristianTurcios" target="_blank"><i class="fab fa-github"></i></a></li>
              <li><a href="https://www.behance.net/cristian-turcios" target="_blank"><i class="fab fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>