<footer class="footer">
  <div class="container">
    <ul class="social-media text-center">
      <li data-bs-toggle="tooltip" data-bs-placement="bottom" title="LinkedIn"><a href="https://www.linkedin.com/in/cristian-turcios" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      <li data-bs-toggle="tooltip" data-bs-placement="bottom" title="Github Projects"><a href="https://github.com/CristianTurcios" target="_blank"><i class="fab fa-github"></i></a></li>
      <li data-bs-toggle="tooltip" data-bs-placement="bottom" title="Behance Projects"><a href="https://www.behance.net/cristian-turcios" target="_blank"><i class="fab fa-behance"></i></a></li>
      <li data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat via Whatsapp"><a href="https://api.whatsapp.com/send/?phone=50497335408&text=Hi Cristian, I would like to get in touch with you&app_absent=0" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
      <li data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download Resume"><a href="https://drive.google.com/file/d/1Oc1SI2mF_D4Wbcst3T7H3ReHuWNuU6T6/view" target="_blank"><i class="fas fa-file-alt"></i></a></li>
    </ul>
    <div class="copyright text-center">
      &copy; {{year}} Cristian Turcios All Rights Reserved
    </div>
  </div>
</footer>