<nav class="navbar navbar-expand-lg dark fixed-top navbar-light" id="navbar">
  <!-- Container -->
  <div class="container">
    <!-- My Logo -->
    <a href="#home" class="navbar-brand">Cristian</a>
    <!-- Button Menu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navtoggler"
      aria-controls="navtoggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- List links -->
    <div class="collapse navbar-collapse" id="navtoggler">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#blog">Blog</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>


      <!-- <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" (click)="goToSection('home')" href="javascript:void(0)">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToSection('about')" href="javascript:void(0)">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToSection('service')" href="javascript:void(0)">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToSection('portfolio')" href="javascript:void(0)">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToSection('contact')" href="javascript:void(0)">Contact</a>
        </li>
      </ul> -->


      <ul class="social-media-nav">
        <li><a href="https://www.facebook.com/cristian.turcios2" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <!-- <li><a href="https://www.facebook.com/cristian.turcios2" target="_blank"><i class="fab fa-facebook-f"></i></a></li> -->
        <li><a href="https://github.com/CristianTurcios" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.behance.net/cristian-turcios" target="_blank"><i class="fab fa-behance"></i></a></li>
      </ul>
    </div>
  </div>
</nav>