<section id="home" class="home">
  <div class="overlay"></div>
  <div class="container">
    <div class="banner display-table">
      <div class="info-header table-cell">
        <!-- Heading Title For Header -->
        <h1>
          <span>Hey There!</span><br>
          <span>I'm</span> Cristian Turcios <br>
        </h1>
        <ul class="banner-meta">
          <li>Full Stack Web Developer</li>
          <li>Product Owner</li>
          <li>Freelancer</li>
        </ul>

        <!-- Button Banner -->
        <div class="banner-btn">
          <a href="#portfolio" class="btn-one">My Portfolio</a>
        </div>

        <a href="#about" class="down">
          <span class="down-one"></span>
          <span class="down-two">About Me</span>
          <span class="down-three"></span>
        </a>
      </div>
    </div>
  </div>
</section>