<div class="clients">
  <div class="container content">
    <div class="row">
      <div class="col-12">

        <div class="col-md-8 offset-md-2">
          <div class="section-title text-center">
            <h2>Certifications And Courses</h2>
            <h3><span>My</span> Certifications</h3>
          </div>
        </div>
        <!--Testimonials Item -->
        <div class="owl-carousel sponsor  owl-loaded">


          <!-- New Item -->
          <div class="owl-item">
            <div class="sponsor-item">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/certifications%2FSAFe5-POPMpx.png?alt=media&token=59900e11-c356-46c8-a320-dc0d0806254a"
                alt="SAFe Product Owner">
            </div>
          </div>


          <!-- New Item -->
          <div class="owl-item">
            <div class="sponsor-item">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/certifications%2FAngular.png?alt=media&token=d9f27be6-3fa3-4f2d-81c8-d7163245ec73"
                alt="Udemy Angular Course">
            </div>
          </div>

          <!-- New Item -->
          <div class="owl-item">
            <div class="sponsor-item">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/certifications%2FReact.png?alt=media&token=24983bb0-4226-4add-9c43-28995c1c7cc8"
                alt="Udemy React Course">
            </div>
          </div>

          <!-- New Item -->
          <div class="owl-item">
            <div class="sponsor-item">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/certifications%2Fnodejs.png?alt=media&token=37345cb1-4c81-4150-84f5-7524af037b72"
                alt="Udemy NodeJS Course">
            </div>
          </div>
          <!-- New Item -->
          <div class="owl-item">
            <div class="sponsor-item">
              <img
                src=" https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/certifications%2FPowerBI.png?alt=media&token=a41b57c9-1068-42c0-b26f-23f2a900e732"
                alt="Udemy PowerBI Course">
            </div>
          </div>
          <!-- New Item -->
          <div class="owl-item">
            <div class="sponsor-item">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/certifications%2FCSS3.png?alt=media&token=eb97a4ad-260e-4648-9576-d536867a3f85"
                alt="Udemy CSS3 Course">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>