<div class="clients">
  <div class="container content">
    <div class="row">
      <div class="col-12">
        <div class="col-md-8 offset-md-2">
          <div class="section-title text-center">
            <h2>Certifications And Courses</h2>
            <h3><span>My</span> Certifications</h3>
          </div>
        </div>

        <!--Testimonials Item -->
        <!-- <owl-carousel-o [options]="customOptions" class="owl-carousel sponsor owl-loaded" #owlCustomerCarousel>
          <ng-container *ngFor="let slide of certifications">
            <ng-template carouselSlide>
              <div class="owl-item">
                <div class="sponsor-item">
                  <img [src]="slide.image" alt="SAFe Product Owner">
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o> -->
        <div class="owl-carousel sponsor  owl-loaded">
            <div class="owl-item" *ngFor="let slide of certifications">
              <div class="sponsor-item">
                <img [src]="slide.image" alt="SAFe Product Owner">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
