<section id="skills" class="my-skills pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Title Of Section Center -->
        <div class="section-title text-center">
          <h2>Design & Code</h2>
          <h3><span>My</span> Skills</h3>
        </div>

      </div>




      <div class="col-md-6">
        <div class="info-skills">
          <div class="skills">
            <div class="skill-box">
              <h4 class="skill-title">Web Design</h4>
              <div class="progress-line">
                <span data-percent="90"><span class="percent-tooltip">90%</span></span>
              </div>
            </div>
            <div class="skill-box">
              <h4 class="skill-title">UI/UX Design</h4>
              <div class="progress-line">
                <span data-percent="80"><span class="percent-tooltip">80%</span></span>
              </div>
            </div>
            <div class="skill-box">
              <h4 class="skill-title">Photoshop & Ilistletor </h4>
              <div class="progress-line">
                <span data-percent="95"><span class="percent-tooltip">95%</span></span>
              </div>
            </div>

            <div class="skill-box">
              <h4 class="skill-title">HTML5 & CSS3 </h4>
              <div class="progress-line">
                <span data-percent="78"><span class="percent-tooltip">78%</span></span>
              </div>
            </div>

          </div>

        </div>
      </div>


      <div class="col-md-6">
        <div class="info-skills">
          <div class="skills">
            <div class="skill-box">
              <h4 class="skill-title">Web Development</h4>
              <div class="progress-line">
                <span data-percent="90"><span class="percent-tooltip">90%</span></span>
              </div>
            </div>
            <div class="skill-box">
              <h4 class="skill-title">Wordpress</h4>
              <div class="progress-line">
                <span data-percent="80"><span class="percent-tooltip">80%</span></span>
              </div>
            </div>
            <div class="skill-box">
              <h4 class="skill-title">Laraval</h4>
              <div class="progress-line">
                <span data-percent="95"><span class="percent-tooltip">95%</span></span>
              </div>
            </div>

            <div class="skill-box">
              <h4 class="skill-title">PHP & MysQl</h4>
              <div class="progress-line">
                <span data-percent="78"><span class="percent-tooltip">78%</span></span>
              </div>
            </div>

          </div>

        </div>
      </div>


    </div>
  </div>


</section>