<section id="portfolio" class="portfolio pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Title Of Section Center -->
        <div class="section-title text-center">
          <h2>Let's See My Work</h2>
          <h3><span>My</span> Portfolio</h3>
        </div>
        <div class="filter-group">
          <ul id="control" class="list-control">
            <li class="active" data-filter="all">All</li>
            <li data-filter="1">Web Desing</li>
            <li data-filter="2">Graphic Desing</li>
            <li data-filter="3">Branding</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="filtr-container" class="row">
      <div class="col-md-6 col-lg-4 filtr-item" data-category="1" data-sort="value">
        <div class="my-work">
          <div class="image">
            <img class="img-fliud" src="http://placehold.it/600x600" alt="my-work">
          </div>
          <a class="overlay" href="http://placehold.it/600x600">
            <span class="icon-img"><i class="fas fa-image"></i></span>
            <div class="info-img">
              <span>Crearive Design</span>
              <h5>Web Design</h5>
            </div>
          </a>
        </div>
      </div>

      <!-- Column Image -->
      <div class="col-md-6 col-lg-4 filtr-item" data-category="3" data-sort="value">
        <div class="my-work">
          <div class="image">
            <img class="img-fliud" src="http://placehold.it/600x600" alt="my-work">
          </div>
          <a class="overlay" href="http://placehold.it/600x600">
            <span class="icon-img"><i class="fas fa-image"></i></span>
            <div class="info-img">
              <span>Crearive Design</span>
              <h5>Branding</h5>
            </div>
          </a>
        </div>
      </div>

      <!-- Column Image -->
      <div class="col-md-6 col-lg-4 filtr-item" data-category="2" data-sort="value">
        <div class="my-work">
          <div class="image">
            <img class="img-fliud" src="http://placehold.it/600x600" alt="my-work">
          </div>
          <a class="overlay" href="http://placehold.it/600x600">
            <span class="icon-img"><i class="fas fa-image"></i></span>
            <div class="info-img">
              <span>Crearive Design</span>
              <h5>Graphic Desing</h5>
            </div>
          </a>
        </div>
      </div>
      <!-- Column Image -->
      <div class="col-md-6 col-lg-4 filtr-item" data-category="3" data-sort="value">
        <div class="my-work">
          <div class="image">
            <img class="img-fliud" src="http://placehold.it/600x600" alt="my-work">
          </div>
          <a class="overlay" href="http://placehold.it/600x600">
            <span class="icon-img"><i class="fas fa-image"></i></span>
            <div class="info-img">
              <span>Crearive Design</span>
              <h5>Graphic Desing</h5>

            </div>
          </a>
        </div>
      </div>
      <!-- Column Image -->
      <div class="col-md-6 col-lg-4 filtr-item" data-category="2" data-sort="value">
        <div class="my-work">
          <div class="image">
            <img class="img-fliud" src="http://placehold.it/600x600" alt="my-work">
          </div>
          <a class="overlay" href="http://placehold.it/600x600">
            <span class="icon-img"><i class="fas fa-image"></i></span>
            <div class="info-img">
              <span>Crearive Design</span>
              <h5>Web Design</h5>

            </div>
          </a>
        </div>
      </div>
      <!-- Column Image -->
      <div class="col-md-6 col-lg-4 filtr-item" data-category="1" data-sort="value">
        <div class="my-work">
          <div class="image">
            <img class="img-fliud" src="http://placehold.it/600x600" alt="my-work">
          </div>
          <a class="overlay" href="http://placehold.it/600x600">
            <span class="icon-img"><i class="fas fa-image"></i></span>
            <div class="info-img">
              <span>Crearive Design</span>
              <h5>Branding</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>