<section id="skills" class="my-skills pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Title Of Section Center -->
        <div class="section-title text-center">
          <h2>Design & Code</h2>
          <h3><span>My</span> Skills</h3>
        </div>

      </div>


      <div class="col-md-6">
        <div class="info-skills">
          <div class="skills">
            <!--  -->
            <div class="skill-box">
              <h4 class="skill-title">Front End</h4>
              <span class="badge bg-warning text-dark">JavaScript</span>
              <span class="badge bg-warning text-dark">TypeScript</span>
              <span class="badge bg-warning text-dark">Angular</span>
              <span class="badge bg-warning text-dark">React</span>
              <!-- <span class="badge bg-warning text-dark">AngularJS</span> -->
              <span class="badge bg-warning text-dark">Redux</span>
              <span class="badge bg-warning text-dark">RxJS</span>
              <!-- <span class="badge bg-warning text-dark">StoryBook</span> -->
            </div>
            <div class="skill-box">
              <h4 class="skill-title">Back End</h4>
              <span class="badge bg-warning text-dark">NodeJS</span>
              <span class="badge bg-warning text-dark">ExpressJS</span>
              <span class="badge bg-warning text-dark">NestJS</span>
              <!-- <span class="badge bg-warning text-dark">Docker</span> -->
              <!-- <span class="badge bg-warning text-dark">Python</span> -->
              <!-- <span class="badge bg-warning text-dark">Flask</span> -->
              <span class="badge bg-warning text-dark">GraphQL</span>
              <span class="badge bg-warning text-dark">Mongoose</span>
              <span class="badge bg-warning text-dark">TypeORM</span>
            </div>
            <div class="skill-box">
              <h4 class="skill-title">Databases</h4>
              <span class="badge bg-warning text-dark">Firebase</span>
              <span class="badge bg-warning text-dark">Firestore</span>
              <span class="badge bg-warning text-dark">MongoDB</span>
              <!-- <span class="badge bg-warning text-dark">CosmosDB</span> -->
              <span class="badge bg-warning text-dark">SQL Server</span>
              <!-- <span class="badge bg-warning text-dark">BigQuery</span> -->
              <!-- <span class="badge bg-warning text-dark">CouchDB</span> -->
              <span class="badge bg-warning text-dark">PostgreSQL</span>
              <span class="badge bg-warning text-dark">MySQL</span>
            </div>
            <div class="skill-box">
              <h4 class="skill-title">Mobile Development</h4>
              <span class="badge bg-warning text-dark">NativeScript</span>
              <span class="badge bg-warning text-dark">Ionic</span>

            </div>
            <div class="skill-box">
              <h4 class="skill-title">Business Analysis</h4>
              <span class="badge bg-warning text-dark">Power BI</span>
              <!-- <span class="badge bg-warning text-dark">Microsoft DataFactory</span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="info-skills">
          <div class="skills">
            <div class="skill-box">
              <h4 class="skill-title">Cloud Services</h4>
              <span class="badge bg-warning text-dark">Google Cloud Platform</span>
              <span class="badge bg-warning text-dark">Microsoft Azure</span>
              <!-- <span class="badge bg-warning text-dark">Amazon Web Services</span> -->
              <span class="badge bg-warning text-dark">Heroku</span>
            </div>
            <div class="skill-box">
              <h4 class="skill-title">Chatbot AI</h4>
              <span class="badge bg-warning text-dark">DialogFlow</span>
              <!-- <span class="badge bg-warning text-dark">Alexa</span> -->
              <!-- <span class="badge bg-warning text-dark">Amazon Lex</span> -->
              <span class="badge bg-warning text-dark">Avaamo</span>
              <!-- <span class="badge bg-warning text-dark">Azure Bot Service</span> -->
              <span class="badge bg-warning text-dark">SendBird</span>
            </div>
            <div class="skill-box">
              <h4 class="skill-title">Serverless </h4>
              <span class="badge bg-warning text-dark">Google Cloud Functions</span>
              <span class="badge bg-warning text-dark">Firebase Cloud Functions</span>
              <span class="badge bg-warning text-dark">Azure Functions</span>
              <!-- <span class="badge bg-warning text-dark">Lambda Functions</span> -->
            </div>
            <div class="skill-box">
              <h4 class="skill-title">Agile Methodologies</h4>
              <span class="badge bg-warning text-dark">SAFe® 5.0</span>
              <span class="badge bg-warning text-dark">Certified SAFe® 5 Product Owner/Product Manager</span>
              <span class="badge bg-warning text-dark">Certified SAFe® 5 DevOps Practitioner</span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>