<section id="testimonials" class="testimonials ptb-100">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-8 offset-md-2">
        <div class="section-title text-center">
          <h2>My Clients</h2>
          <h3><span>Happy</span> Clients</h3>
        </div>
      </div>

      <div class="col-12">
        <owl-carousel-o [options]="customOptions" class="testimonial" #owlTestimonialsCarousel>
            <ng-container *ngFor="let testimonial of testimonials">
              <ng-template carouselSlide>
                <div class="testmonail-item">
                  <div class="owl-item">
                    <div class="testmonail-box">
                      <div class="quote-icon">
                        <i class="fas fa-quote-left fa-2x"></i>
                      </div>
                      <div class="client-img">
                        <img [src]="testimonial.image" alt="Client">
                      </div>
                      <div class="author-details">
                        <h6>{{testimonial.name}}</h6>
                        <span>{{testimonial.jobTitle}}</span>
                      </div>
                      <div class="clearfix"></div>
                      <div class="inner-test">
                        <p class="text">{{testimonial.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
