::ng-deep .testimonials .owl-nav div.owl-prev {
  background: none;
  padding: 0;
}

::ng-deep .testimonials .owl-nav div.owl-next {
  background: none;
  padding: 0;
}

::ng-deep .testimonials .owl-nav div.owl-prev:hover {
  background: none;
  padding: 0;
}

::ng-deep .testimonials .owl-nav div.owl-next:hover {
  background: none;
  padding: 0;
}
