<div class="clients">
  <div class="container content">
    <div class="row">
      <div class="col-12">
        <div class="col-md-8 offset-md-2">
          <div class="section-title text-center">
            <h2>Certifications And Courses</h2>
            <h3><span>My</span> Certifications</h3>
          </div>
        </div>

        <!--Certifications and Courses Item -->
        <owl-carousel-o [options]="customOptions" class="owl-carousel sponsor owl-loaded" #owlCustomerCarousel>
          <ng-container *ngFor="let slide of certifications">
            <ng-template carouselSlide>
              <div class="owl-item">
                <div class="sponsor-item">
                  <a [href]="slide.link"
                    target="_blank" rel="noopener noreferrer">
                    <img [src]="slide.image" [alt]="slide.title">
                  </a>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
