<section class="resume ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Title Of Section Center -->
        <div class="section-title text-center">
          <h2>experience & education</h2>
          <h3><span>My</span> Resume</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="my-resume">
          <div class="history-top"> 2021 - Ongoing</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class=" fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Senior Full Stack Developer</h4>
                <div class="history">Remote</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>In my position as a senior developer, I have been fortunate to not only pursue my passion for software development but
              also take on the role of technical leader for various products across different companies. This responsibility has
              provided me with the valuable opportunity to guide and mentor junior developers, helping them embark on their own
              developmental journeys.
              </p>
              <br>
              <p>
                Moreover, I have had the privilege of collaborating with prestigious Fortune 500 clients who have entrusted me with the
                task of bringing their visions to life through effective creation, optimization, and transformation.
              </p>
              <br>
              <p>
                Overall, my experiences have allowed me to thrive in my love for software development while simultaneously contributing
                to the growth and success of both individuals and renowned organizations.
              </p>
            </div>
          </div>
          <div class="history-top"> 2018 - 2021</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class=" fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Product Owner |  Full Stack Developer</h4>
                <div class="history">Laureate International Universities</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>As a product owner, I have had the privilege of working closely with numerous clients and managers across the United
              States, helping them bring their ideas to life and elevate their departments through the creation of top-notch digital
              products.
              </p>
              <br>
              <p>
                In addition to collaborating with technical teams, I actively engage in discussions around architecture and development
                to ensure that our products maintain their high quality and scalability over time.
              </p>
            </div>
            <div class="img-resume">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/images%2Fresume-1-min.webp?alt=media"
                alt="my-history">
            </div>
          </div>
          <div class="history-top"> 2018 - 2019</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class=" fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Chatbot Developer</h4>
                <div class="history">Laureate International Universities</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>
                I have had the privilege of working on over five artificial intelligence chatbots, each contributing significantly to
                enhancing company communication and ensuring customer satisfaction. These chatbots have proven instrumental in
                delivering swift responses to customer inquiries and addressing their needs effectively.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="my-resume">
          <div class="history-top"> 2020 - Ongoing</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class="fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Freelancer</h4>
                <div class="history">Remote</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>

              </div>
            </div>
            <div class="resume-footer">
              <p>
                In my career as a freelancer, I have seen the joy of many clients at having the opportunity to boost
                their businesses by creating different solutions such as web portals, mobile applications, and
                analytical dashboards that have been focused on different sectors such as Banks, Education, Technology
                and Hotels.
              </p>
            </div>
          </div>
          <div class="history-top"> 2016 - 2018</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class="fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Web Developer</h4>
                <div class="history">Laureate International Universities</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>In my role as Web developer, I have created different digital products that helped the company to better
                position itself in the education industry and that helped to win more and more users who enjoyed the
                products that we had created with the development team, part of My tasks were to transform the client's
                ideas from scratch into functionalities within the different systems that I worked.</p>
            </div>
            <div class="img-resume">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/images%2Fresume-2-min.webp?alt=media"
                alt="my-history">
            </div>
          </div>

          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class="fas fa-graduation-cap"></i></span>
              <div class="content-exper">
                <h4>System Engineer Degree</h4>
                <div class="history">Universidad Nacional Autonoma de Honduras (UNAH)</div>
                <div class="icon-bg"><i class="fas fa-graduation-cap"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>During my university career I learned many concepts of programming, algorithms, security, databases and
                networks that have been a fundamental part of my day-to-day performance as a software engineer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/CV%2FCristianJavierTurciosResume.pdf?alt=media" target="_blank"
      class="btn-one text-dark mt-20">Download Resume</a>
  </div>
</section>