<section class="resume ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Title Of Section Center -->
        <div class="section-title text-center">
          <h2>experience & education</h2>
          <h3><span>My</span> Resume</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="my-resume">
          <div class="history-top"> 2019 - Ongoing</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class=" fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Product Owner |  Full Stack Developer</h4>
                <div class="history">Laureate International Universities</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>As part of my role being a product owner, I have had the opportunity to collaborate with many clients
                and managers in the United States and transform their ideas into digital products and boost their
                departments with high quality products.
              </p>
              <br>
              <p>
                As well as continue collaborating with the technical teams in aspects of architecture and development so
                that the products continue to have high quality and scalability
              </p>
            </div>
            <div class="img-resume">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/images%2Fresume-1-min.webp?alt=media&token=5d01ebc6-bfcf-4927-9e73-f3e0f3863246"
                alt="my-history">
            </div>
          </div>
          <div class="history-top"> 2019 - Ongoing</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class=" fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Chatbot Developer</h4>
                <div class="history">Laureate International Universities</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>I have had the opportunity to work in more than 5 artificial intelligence chatbots that have helped
                boost the communication of companies and keep their customers happy since they manage to obtain a quick
                response to their questions and needs.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="my-resume">
          <div class="history-top"> 2020 - Ongoing</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class="fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Freelancer</h4>
                <div class="history">Remote</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>

              </div>
            </div>
            <div class="resume-footer">
              <p>
                In my career as a freelancer, I have seen the joy of many clients at having the opportunity to boost
                their businesses by creating different solutions such as web portals, mobile applications, and
                analytical dashboards that have been focused on different sectors such as Banks, Education, Technology
                and Hotels.
              </p>
            </div>
          </div>
          <div class="history-top"> 2016 - 2019</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class="fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Web Developer</h4>
                <div class="history">Laureate International Universities</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>In my role as Web developer, I created different digital products that helped the company to better
                position itself in the education industry and that helped to win more and more users who enjoyed the
                products that we had created with the development team, part of My tasks were to transform the client's
                ideas from scratch into functionalities within the different systems that I worked.</p>
            </div>
            <div class="img-resume">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/images%2Fresume-2-min.webp?alt=media&token=4276ca50-eaa1-4174-98df-1ee2a94d3cbd"
                alt="my-history">
            </div>
          </div>

          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class="fas fa-graduation-cap"></i></span>
              <div class="content-exper">
                <h4>System Engineer Degree</h4>
                <div class="history">Universidad Nacional Autonoma de Honduras (UNAH)</div>
                <div class="icon-bg"><i class="fas fa-graduation-cap"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>During my university career I learned many concepts of programming, algorithms, security, databases and
                networks that have been a fundamental part of my day-to-day performance as a software engineer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="https://drive.google.com/file/d/1Oc1SI2mF_D4Wbcst3T7H3ReHuWNuU6T6/view?usp=sharing" target="_blank"
      class="btn-one mt-20">Download Resume</a>
  </div>
</section>