<section class="resume ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <!-- Title Of Section Center -->
        <div class="section-title text-center">
          <h2>experience & education</h2>
          <h3><span>My</span> Resume</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="my-resume">
          <div class="history-top"> 2019 - Ongoing</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class=" fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Product Owner |  Full Stack Developer</h4>
                <div class="history">Laureate International Universities</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et
                dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="img-resume">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/images%2Fresume-1-min.jpg?alt=media&token=ceb79b5b-6d6f-4345-bad3-063c2688ce30"
                alt="my-history">
            </div>
          </div>
          <div class="history-top"> 2019 - Ongoing</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class=" fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Chatbot Developer</h4>
                <div class="history">Laureate International Universities</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et
                dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="my-resume">
          <div class="history-top"> 2020 - Ongoing</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class="fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Freelancer</h4>
                <div class="history">Remote</div>
                <!-- <div class="icon-bg"><i class="fas fa-graduation-cap"></i></div> -->
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>

              </div>
            </div>
            <div class="resume-footer">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et
                dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="history-top"> 2016 - 2019</div>
          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class="fa fa-briefcase"></i></span>
              <div class="content-exper">
                <h4>Web Developer</h4>
                <div class="history">Laureate International Universities</div>
                <div class="icon-bg"><i class="fa fa-briefcase"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et
                dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="img-resume">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/portfolio-d6486.appspot.com/o/images%2Fresume-4-min.jpg?alt=media&token=c6df03c8-50c8-46ce-a2eb-cad5bbf24e29"
                alt="my-history">
            </div>
          </div>

          <div class="resume-item">
            <div class="resume-head">
              <span class="icon-exp"><i class="fas fa-graduation-cap"></i></span>
              <div class="content-exper">
                <h4>System Engineer Degree</h4>
                <div class="history">Universidad Nacional Autonoma de Honduras (UNAH)</div>
                <div class="icon-bg"><i class="fas fa-graduation-cap"></i></div>
              </div>
            </div>
            <div class="resume-footer">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et
                dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="btn-one mt-20">Download Resume</a>
  </div>
</section>