<div class="statistics pt-100 pb-70">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="stat-item">
          <div class="count" data-from="1" data-to="20" data-speed="3000"></div>
          <p class="text">Projects Completed</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="stat-item">
          <div class="count" data-from="1" data-to="50000" data-speed="3000"></div>
          <p class="text">Happy Clients</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="stat-item">
          <div class="count" data-from="1" data-to="50" data-speed="3000"></div>
          <p class="text">Repositories</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="stat-item">
          <div class="count" data-from="1" data-to="900" data-speed="3000"></div>
          <p class="text">Coffee Cups</p>
        </div>
      </div>
    </div>
  </div>
</div>