<section id="blog" class="blog pt-100 pb-70">
  <div class="container">
    <div class="row">


      <div class="col-md-8 offset-md-2">
        <!-- Title Of Section Center -->
        <div class="section-title text-center">
          <h2>My Recent Posts</h2>
          <h3><span>My</span> Blog</h3>


        </div>

      </div>

      <!-- New Item -->
      <div class="col-lg-4">
        <div class="blog-item">
          <!-- Blog Image -->
          <div class="blog-img">
            <a href="#"><img src="http://placehold.it/680x450" alt="blog"></a>

          </div>
          <!-- Blog info -->
          <div class="blog-info">

            <ul class="date">
              <li>25 NOV 18 / </li>
              <li><a href="#">Branding</a></li>
            </ul>


            <div class="title-post">

              <a href="#">
                <h5>What Has Happened to All of the Web Design Ideas?</h5>
              </a>
            </div>

            <div class="post-text">
              <p>Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Usmod Tempor Incididunt Ut Labore Et Dolore
                Magna...</p>
            </div>

            <a href="#" class="link">Read More</a>
          </div>

        </div>
      </div>



      <!-- New Item -->
      <div class="col-lg-4">
        <div class="blog-item">
          <!-- Blog Image -->
          <div class="blog-img">
            <a href="#"><img src="http://placehold.it/680x450" alt="blog"></a>

          </div>

          <!-- Blog info -->
          <div class="blog-info">

            <ul class="date">
              <li>25 NOV 18 / </li>
              <li><a href="#">Logo</a></li>
            </ul>


            <div class="title-post">

              <a href="#">
                <h5>How To Create Great Logo For Your Business</h5>
              </a>
            </div>

            <div class="post-text">
              <p>Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Usmod Tempor Incididunt Ut Labore Et Dolore
                Magna...</p>
            </div>

            <a href="#" class="link">Read More</a>
          </div>

        </div>
      </div>

      <!-- New Item -->
      <div class="col-lg-4">
        <div class="blog-item">
          <!-- Blog Image -->
          <div class="blog-img">
            <a href="#"><img src="http://placehold.it/680x450" alt="blog"></a>

          </div>
          <!-- Blog info -->
          <div class="blog-info">

            <ul class="date">
              <li>25 NOV 18 / </li>
              <li><a href="#">Design</a></li>
            </ul>


            <div class="title-post">

              <a href="#">
                <h5>What Has Happened to All of the Web Design Ideas?</h5>
              </a>
            </div>

            <div class="post-text">
              <p>Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Usmod Tempor Incididunt Ut Labore Et Dolore
                Magna...</p>
            </div>

            <a href="#" class="link">Read More</a>
          </div>

        </div>
      </div>


    </div>
  </div>
</section>